NET "ant_array1_data[7]" IOSTANDARD = LVCMOS33;
NET "ant_array1_data[6]" IOSTANDARD = LVCMOS33;
NET "ant_array1_data[5]" IOSTANDARD = LVCMOS33;
NET "ant_array1_data[4]" IOSTANDARD = LVCMOS33;
NET "ant_array1_data[3]" IOSTANDARD = LVCMOS33;
NET "ant_array1_data[2]" IOSTANDARD = LVCMOS33;
NET "ant_array1_data[1]" IOSTANDARD = LVCMOS33;
NET "ant_array1_data[0]" IOSTANDARD = LVCMOS33;
NET "ant_array1_addr[0]" IOSTANDARD = LVCMOS33;
NET "ant_array1_addr[1]" IOSTANDARD = LVCMOS33;
NET "ant_array1_addr[2]" IOSTANDARD = LVCMOS33;
NET "ant_array1_addr[3]" IOSTANDARD = LVCMOS33;


#NET "wr" IOSTANDARD = LVCMOS33;
#NET "cs" IOSTANDARD = LVCMOS33;

NET "sys_clk" LOC = A10;
NET "sys_clk" TNM_NET = "SYS_CLK_50MHz";
TIMESPEC TS_CLK1 = PERIOD "SYS_CLK_50MHz" 20 ns HIGH 50 %;

NET "leds_out[0]" LOC = T9;
NET "leds_out[1]" LOC = R9;
NET "button1_in" LOC = R7;
NET "button2_in" LOC = T8;

## UART
NET "u_tx" LOC = T12;
NET "u_tx" IOSTANDARD = LVCMOS33;
NET "u_rx" LOC = R12;
NET "u_rx" IOSTANDARD = LVCMOS33;

NET "ant_array1_data[0]" LOC = J13;
NET "ant_array1_data[1]" LOC = K15;
NET "ant_array1_data[2]" LOC = K16;
NET "ant_array1_data[3]" LOC = K14;
NET "ant_array1_data[4]" LOC = J12;
NET "ant_array1_data[5]" LOC = J11;
NET "ant_array1_data[6]" LOC = J16;
NET "ant_array1_data[7]" LOC = J14;

NET "ant_array1_addr[0]" LOC = C13;
NET "ant_array1_addr[1]" LOC = A13;
NET "ant_array1_addr[2]" LOC = A14;
NET "ant_array1_addr[3]" LOC = B14;




